body, html{
  height:100%;
  width: 100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F0065%2F4917%2F6438%2Fproducts%2Fa-groovy-looking-nightclub-dance-floor-background_576a9abb-3b3f-4ba8-9309-87eb60a6d911_1200x1200.jpg%3Fv%3D1549230950&f=1&nofb=1);
  /* background-size: 100%;
  hight: 100%; */
  /* width: 150%; */
  background-repeat: no-repeat;
  background-size: contain;

}

body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* border:10px solid white;
  border-radius:10px; */
  display: block;
  width: 200px;
  height: 200px;
  background-image: url('images/smang2.gif');
  background-size: contain;
  background-repeat: no-repeat;
  position:absolute;
}

.mover{
  display: block;
  width: 200px;
  height: 200px;
  background-image: url('images/rick.gif');
  background-size: contain;
  background-repeat: no-repeat;
  position:absolute;
  animation: move 15s infinite;


}

.jumper{
  display: block;
  width: 100px;
  height: 100px;
  background-image: url('images/squid2.gif');
  background-size: contain;
  background-repeat: no-repeat;
  position:absolute;


  transform: translate(-50%, -50%);
  animation: jump 1.2s infinite;
}

.notTL {
  position: relative;
}
/* add and remove class to toggle position */

@keyframes jump {
  0% {transform: translate(-50%, -50%) scale(1.25, 0.75);}
  50% {transform: translate(-50%, -150%) scale(1, 1);}
  100% {transform: translate(-50%, -50%) scale(1.25, 0.75);}
}

/* @keyframes move{
  0% {background-position: 0 0;}
  100% {background-position: 100% 0;}
} */

